#wrapper {
    display: inline-block;
    background-color: #1b345d;
    width: 970px;
}
h1 {
    color: #cadee3;
    background-color: #c72222;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
#nav {
    display: inline-block;
    background-color: #2a7d8c;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
}
a {
    color: #56c5ce;
}
span {
    color: #6762b5;
}
#home {
    list-style-type: none;
}
.subheadings {
    margin-left: 15px;
    padding: 0px; 
    color: white;
}
#content {
    padding: 15px;
    margin: 10px;
    display: inline-block;
    width: 670px;
    vertical-align: top;
    border-radius: 10px;
    background-color: #0e1822;
    color:white;
}
#content p {
    font-size: 10pt;
}
#content a {
    color: #56c5ce;
}
footer {
    display: block;
    font-size: 11pt;
    height: 30px;
    margin: 10px;
    padding: 15px 0 5px 10px;
    align-items: center;
    color: #9bbec2;
    background-color: #7d7b79 ;
    border-radius: 10px;
}