/* Part 1 */
.center-box {
    background-color: darkblue;
    width: 1000px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.center-item {
    background-color: burlywood;
    width: 50px;
    height: 50px;
}


/* Part 2 */
.nav {
    background-color: #6495ed;
    width: 1200px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
img {
    margin: 10px;
    height: 80px;
}
h1 {
    margin-left: 65px;
}
ul {
    display: flex;
    margin-left: auto;
    list-style-type: none;
}
a {
    color: white;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    margin: 0 55px;
}